html, body{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(236, 234, 234);
}

/* pace */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #28a745;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* pace end */

/* ===================================================================
 * # preloader 
 *
 * ------------------------------------------------------------------- */
 #preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #151515;
  z-index: 800;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

#loader > div {
  content: "";
  background: #FFFFFF;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

#loader > div:nth-of-type(1) {
  left: 15px;
}

#loader > div:nth-of-type(3) {
  left: -15px;
}

/* end preloader */

/* loading dots */

/* dots jump */
.dots-jump > div {
  -webkit-animation: dots-jump 1.2s infinite ease;
  animation: dots-jump 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-jump > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-jump > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

@keyframes dots-jump {
  0% {
    top: 0;
  }

  40% {
    top: -6px;
  }

  80% {
    top: 0;
  }

}

/* dots fade */
.dots-fade > div {
  -webkit-animation: dots-fade 1.6s infinite ease;
  animation: dots-fade 1.6s infinite ease;
  animation-delay: 0.4s;
}

.dots-fade > div:nth-of-type(1) {
  animation-delay: 0.8s;
}

.dots-fade > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

@keyframes dots-fade {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

}

/* dots pulse */
.dots-pulse > div {
  -webkit-animation: dots-pulse 1.2s infinite ease;
  animation: dots-pulse 1.2s infinite ease;
  animation-delay: 0.2s;
}

.dots-pulse > div:nth-of-type(1) {
  animation-delay: 0.4s;
}

.dots-pulse > div:nth-of-type(3) {
  animation-delay: 0s;
}

@-webkit-keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes dots-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  40% {
    -webkit-transform: scale(1.1);
    transform: scale(1.3);
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

/* end loading dots */


.masthead {
    height: 100vh;
    /* min-height: 500px; */
    background-image: url('../img/Background-4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 0;
  }

  ul>li{
      margin-top: 20px;
  }
  

  /* down arrow */

  .arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
    z-index: 5;
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    transition: all .4s ease;
  }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
  }

  /* down arrow end */

  video {
      width: 100%;
  }

  button{
      margin-top: 20px;
  }

  .footer{
      background-color: gray;
      height: 70px;
      padding-top: 15px;
      margin-bottom: 0;
      font-size: .9em;
  }

  .footer p {
    margin: 0;
    color: white;
  }

  .phone, .fa-phone-square{
    display: none;
  }

  @media screen and (max-width:600px){
      body {
        margin-bottom: 70px;
      }
    
      h1 {
          font-size:4em!important;
      }

      .phone{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgb(236, 234, 234);
        text-align: center;
      }
      .fa-phone-square{
        display: block;
        font-size: 3.5em;
        color: #28a745;
        /* transform: translate(-50%); */
      }
  }